//
//colors:

$main_blue: rgba(52, 74, 113, 1);
$light_grey: rgba(0, 0, 0, 0.3);

body {
    font-family: 'Poppins', sans-serif;
}
ul {
    display: flex;
    list-style: none;
    margin: 0;
    
    li {
        padding-left: 3px;
        padding-right: 3px;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}

a {
    text-decoration: none;
    color: inherit;
    &:hover {
        color: inherit;
    }
}

header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $main_blue;
    height: 60px;
    font-size: 0.9rem;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 500;

    .logo {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: white;
    font-weight: 700;
    letter-spacing: 4px;
    padding: 11.25px 0;
    }

    .center_nav {
        display: flex;
        align-items: center;
        height: 100%;
        ul {
            height: 100%;
            li {
                height: 100%;
                display: flex;
                align-items: center;
                border-bottom: 5px solid transparent;
                border-top: 5px solid transparent;
                color: rgba(255, 255, 255, 0.500);
                &:hover {
                border-bottom: 5px solid white;
                color: white;
                transition-timing-function: ease;
                position: relative;
                }

                .new_bubble {
                    align-self: flex-start;

                    font-size: 0.6rem;
                    padding: 0.1rem;
                    border-radius: 0.5rem;
                    background-color: white;
                    color: $main_blue;
                }
                
            }

        }
    }

    .search_area {
        color: white;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 0.8rem;

        .lens {
            margin-top: 11.25px;
            margin-bottom: 11.25px;
            height: 38.5px;
            width: 38.5px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            border-radius: 30%;
            background-color: rgba(255, 255, 255, 0.1);
            &:hover {
                background-color: rgba(255, 255, 255, 0.25);
                cursor: pointer;
            }
        }
        .sign_in {
            margin-left: 1.4rem;
            &:hover{
                text-decoration: underline;
                cursor: pointer;
            }
        }

        button {
            margin-left: 1.4rem;
            border-style: none;
            border: 1px solid white;
            background-color: transparent;
            color: white;
            padding: 0.4rem 0.6rem;
            border-radius: 1.2rem;
            &:hover {
                background-color: white;
                color: rgba(50,138,241);
            }
        }

    }
}

section {
    padding: 40px 30px;
    background-color: rgb(239, 242, 246);
    .title_container {
        max-width: 650px;
        margin: auto;
        h3.section_title {
            text-align: center;
            font-family: 'Cabin', sans-serif;
            font-size: 2.2rem;
            font-weight: 400;
        }
        p {
            font-size: 1.1rem;
        }
    }

    .in_evidence {
        max-width: 1166px;
        border-radius: 0.8rem;
        height: 363px;
        padding: 2rem 3rem;
        background-color: white;
        margin: auto;

        .left_container {
            max-width: 650px;

            span.topic {
                color: white;
                font-size: 0.65rem;
                font-weight: 700;
                padding: 0.4rem 1.4rem;
                border-radius: 1rem;
                margin-bottom: 0.75rem;
                display: inline-block;
    
                &.frameworks {
                    background-color: rgb(236, 69, 79);
                }
            }
    
            h4 {
                font-family: 'Cabin', sans-serif;
                font-size: 1.7rem;
                font-weight: 400;
            }

        }

        .grey_line {
            background-color: $light_grey;
            display: inline-block;
            width: 7.5px;
            height: 3.75px;
            border-radius: 3px;
            margin-bottom: 3px;
        }

        .info_text {
            max-width: 60px;
            font-size: 0.65rem;
            color: $light_grey;  
        }

        i {
            color: $light_grey;
        }
    }
}


