body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1166px;
}

.blue_background {
  background-image: linear-gradient(90deg, #324466, #60799e 79%);
}

.card_border {
  border-radius: 0.8rem;
}

.bg_darker {
  background-color: rgba(0, 0, 0, 0.03);
}

button.start_series {
  border-style: none;
  border-radius: 1.5rem;
  width: 210px;
  padding: 0.5rem 0;
  font-size: 0.9rem;
  border: 1px;
}

button.start_series i {
  color: inherit;
  margin-right: 0.5rem;
}

button.start_series:hover {
  color: #328af1;
  border: 1px solid #328af1;
  background-color: ButtonFace;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
}

ul li {
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #344a71;
  height: 60px;
  font-size: 0.9rem;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 500;
}

header .logo {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: white;
  font-weight: 700;
  letter-spacing: 4px;
  padding: 11.25px 0;
}

header .center_nav {
  display: flex;
  align-items: center;
  height: 100%;
}

header .center_nav ul {
  height: 100%;
}

header .center_nav ul li {
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  color: rgba(255, 255, 255, 0.5);
}

header .center_nav ul li:hover {
  border-bottom: 5px solid white;
  color: white;
  transition-timing-function: ease;
  position: relative;
}

header .center_nav ul li .new_bubble {
  align-self: flex-start;
  font-size: 0.6rem;
  padding: 0.1rem;
  border-radius: 0.5rem;
  background-color: white;
  color: #344a71;
}

header .search_area {
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.8rem;
}

header .search_area .lens {
  margin-top: 11.25px;
  margin-bottom: 11.25px;
  height: 38.5px;
  width: 38.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border-radius: 30%;
  background-color: rgba(255, 255, 255, 0.1);
}

header .search_area .lens:hover {
  background-color: rgba(255, 255, 255, 0.25);
  cursor: pointer;
}

header .search_area .sign_in {
  margin-left: 1.4rem;
}

header .search_area .sign_in:hover {
  text-decoration: underline;
  cursor: pointer;
}

header .search_area button {
  margin-left: 1.4rem;
  border-style: none;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  padding: 0.4rem 0.6rem;
  border-radius: 1.2rem;
}

header .search_area button:hover {
  background-color: white;
  color: #328af1;
}

section {
  background-color: #eff2f6;
}

#section_1 {
  padding: 40px 30px;
}

#section_1 .title_container {
  max-width: 650px;
  margin: auto;
}

#section_1 .title_container h3.section_title {
  text-align: center;
  font-family: "Cabin", sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
}

#section_1 .title_container p {
  font-size: 1.1rem;
}

#section_1 .in_evidence {
  border-radius: 0.8rem;
  height: 363px;
  padding: 2rem 3rem;
  background-color: white;
  margin: auto;
  overflow: hidden;
  position: relative;
  margin-top: 30px;
}

#section_1 .in_evidence .left_container {
  max-width: 650px;
}

#section_1 .in_evidence .left_container span.topic {
  color: white;
  font-size: 0.65rem;
  font-weight: 700;
  padding: 0.4rem 1.4rem;
  border-radius: 1rem;
  margin-bottom: 0.75rem;
  display: inline-block;
}

#section_1 .in_evidence .left_container span.topic.frameworks {
  background-color: #ec454f;
}

#section_1 .in_evidence .left_container span.topic.tooling {
  background-color: #8b60ed;
}

#section_1 .in_evidence .left_container h4 {
  font-family: "Cabin", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
}

#section_1 .in_evidence .course_info .grey_line {
  background-color: rgba(0, 0, 0, 0.3);
  display: inline-block;
  width: 7.5px;
  height: 3.75px;
  border-radius: 3px;
  margin-bottom: 3px;
}

#section_1 .in_evidence .course_info .info_text {
  max-width: 60px;
  font-size: 0.65rem;
  color: rgba(0, 0, 0, 0.3);
}

#section_1 .in_evidence .course_info i {
  color: rgba(0, 0, 0, 0.3);
}

#section_1 .in_evidence img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  right: -163px;
  top: -49px;
  width: 500px;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
}

#section_2 div.container {
  padding: 45px 22.5px;
  height: 522px;
}

#section_2 div.container h5 {
  font-size: 1rem;
  letter-spacing: 0.02rem;
  font-family: "Cabin", sans-serif;
}

#section_2 div.container .card {
  width: 202px;
}

#section_2 div.container .card img {
  height: 64px;
}

#section_2 div.container .card h6 {
  font-size: 0.8rem;
  font-weight: 400;
}

